.add {
  width: 70%;
  margin: 50px;
  color: #6d6d6d;
}

.add .add-form {
  gap: 20px;
}

.add .add-form .add-img-upload .label-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6d6d6d;
  border-style: dotted;
  padding: 10px;
  width: 120px;
  cursor: pointer;
  background-color: #e0dfdf;
}

.add .add-form .add-img-upload .label-upload .upload {
  font-size: 20px;
  width: 120px;
  height: 80px;
}

.add .add-form .add-product-name {
  width: 280px;
}

.add .add-form .add-product-name .p-input {
  padding: 10px;
}

.add .add-form .add-product-description {
  width: 280px;
}

.add .add-form .add-product-description .d-input {
  padding: 10px;
}

.add .add-form .add-category-price {
  display: flex;
  gap: 30px;
}

.add .add-form .add-category-price .add-category .select-category {
  max-width: 120px;
  padding: 10px;
}

.add .add-form .add-category-price .add-price .price-input {
  max-width: 120px;
  padding: 10px;
}

.add .add-form .add-btn {
  max-width: 120px;
  padding: 10px;
  border: none;
  background: #0b4fff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
